.access-container {
    position: sticky;
    text-align: center;
    margin-top: 20px;
  }
  .access-container h1 {
    font-size: 2rem;
    color: red;
  }
  .access-container p {
    font-size: 2rem;
    color: red;
  }